/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   
/* FONTS
-------------------------------------------------- */

@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/ChunkFive/chunkfive-webfont.eot');
    src: url('../fonts/ChunkFive/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ChunkFive/chunkfive-webfont.woff') format('woff'),
         url('../fonts/ChunkFive/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/ChunkFive/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'intro_regular';
    src: url('../fonts/Intro/intro-webfont.eot');
    src: url('../fonts/Intro/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Intro/intro-webfont.woff') format('woff'),
         url('../fonts/Intro/intro-webfont.ttf') format('truetype'),
         url('../fonts/Intro/intro-webfont.svg#intro_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* GENERAL
-------------------------------------------------- */

html, body {
	height: 100%;
	background: #fff;
}

.row {
	margin: 0;
}

.title {
	font-family: 'chunkfiveroman', Helvetica, Arial, sans-serif;
	font-size: 54px;
	text-align: center;
	color: #181818;
	margin: 30px 0 10px 0;
}

.subtitle {
	font-family: Arial, Helvetica, Verdana;
	font-size: 21px !important;
	text-align: center;
	color: #000;
	padding-bottom: 15px;
	border-bottom: ridge 5px #BB0000;
}

.area-header-wrapper {

}

/* HOME AREA
-------------------------------------------------- */

.home-area {
	width: 100%;
	height: 100%;
	background: url(../images/body-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFF;
}

.home-title {
	font-family: 'chunkfiveroman', Helvetica, Arial, sans-serif;
	font-size: 100px;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 25px 0px;
	margin: 10% auto 100px;
	color: #F2EB80;
	text-shadow: 1px 1px 0 #CCC,
				 2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
				 3px 3px 0 #444,
				 4px 4px 0 #444,
				 5px 5px 0 #444,
				 6px 6px 0 #444; /* end of 4 level deep dark shadow */
}

.home-area .flexslider{
	background: rgba(0, 0, 0, 0.5);
}

.home-area .flexslider h2 {
	font-family: 'intro_regular', Arial, Verdana, sans-serif;
	font-size: 42px;
}

.home-area .flex-caption .btn {
	font-size: 21px;
	padding: 10px 20px;
}


/* NAVIGATION
-------------------------------------------------- */
.navbar-nav.nav-justified > li{ /* Justified, center menu */
    float: none;
}

.fixed {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.navbar-brand {
	font-family: 'chunkfiveroman', Helvetica, Arial, sans-serif;
	font-size: 24px;
}

/* ABOUT US
-------------------------------------------------- */

.extra-margin { /* Margin when navbar is fixed */
	margin-top: 80px;
}

.about-area {
	padding-top: 40px;
	background: #fff;
}

.circle-container {
	text-align: center;
	vertical-align: center;
	width: 180px;
	height: 180px;
	padding: 50px 0;
	margin: 0 auto;
	background: #FFF;
	color: #7A2C4B;
	border: solid 10px #7A2C4B;
	border-radius: 50%;
	box-shadow: 0 0 5px #000;
	transition: all .4s ease-in-out;
}

.circle-container:hover {
	-moz-transform: rotate(360deg);
}

.about-area h2 {
	font-family: 'intro_regular', Arial, Verdana, sans-serif;
	font-size: 27px;
	color: #222323;
	margin: 10px 0 40px 10px;
}

.about-area h3 {
	font-family: 'intro_regular', Arial, Verdana, sans-serif;
	font-size: 24px;
	text-align: center;
	color: #222323;
}

.about-area p {
	font-size: 14px;
	text-align: center;
	color: #000;
}

.about-area .number {
	font-size: 72px;
	text-align: center;
	margin: 0;
	color: #E33200;
}

.about-area .fact-info {
	font-size: 21px;
	margin: 10px 0;
	color: #000;
}

/* QUOTES
-------------------------------------------------- */

.quotes-area {
	width: 100%;
	margin-top: 50px;
	padding: 35px 0 50px 0;
	color: #fff;
	background: #009393;
}

.quote {
	font-size: 18px;
	font-style: italic;
	text-align: center;
}

.quote-author {
	font-size: 14px;
	display: block;
	text-align: right;
}

.quotes-area .flexslider {

}


/* TEAM
-------------------------------------------------- */

.team-area {
	padding-top: 40px;
}

.team-area h2 {
	font-family: 'intro_regular', Arial, Verdana, sans-serif;
	font-size: 27px;
	color: #222323;
	margin: 10px 0 40px 10px;
}

.team-area h3 {
	font-family: 'intro_regular', Arial, Verdana, sans-serif;
	font-size: 24px;
	text-align: center;
	color: #222323;
	padding-top: 20px;
}

.employee-image img {
	width: 100%;
	height: auto;
}

.employee {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	background: #E33200;
	padding: 15px 0;
	margin: 0;
}

.employee-info {
	width: 100%;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	background: #E33200;
	margin: 0;
	padding: 0 15px 10px;
}

.employee-social {
	width: 100%;
	margin-bottom: 20px;
	background: #E33200;
	text-align: center;
}

.employee-social a {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #E33200;
	color: #FFF;
	line-height: 32px;
	text-align: center;
	margin: 5px 10px;
}

.employee-social a:hover {
	background-color: #FFF;
	color: #E33200;
	text-decoration: none;
}

/* CLIENTS
-------------------------------------------------- */

.clients-wrapper {
	text-align: center;
}


/* SERVICES
-------------------------------------------------- */

.services-area {
	padding-top: 40px;
}

.services-area h2 {
	font-family: 'intro_regular', Arial, Verdana, sans-serif;
	font-size: 27px;
	color: #222323;
	margin: 10px 0 40px 10px;
}

.services-area h3 {
	font-family: 'intro_regular', Arial, Verdana, sans-serif;
	font-size: 21px;
	text-align: center;
	color: #222323;
}

.service-feature {
	border-radius: 10px;
}

.service-feature p {
	font-size: 14px;
	text-align: center;
	color: #000;
	padding: 0 15px;
}

.service-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #FFF;
	color: #6B9205;
	line-height: 40px;
	text-align: center;
	border: solid 5px #6B9205;
	box-shadow: 0 0 3px #000;
	margin: 5px 10px;
	transition: all .4s ease-in-out;
}

.service-feature:hover .service-icon {
	-moz-transform: rotate(360deg);
}

.contact-button {
	text-align: center;
}

.contact-button a {
	font-size: 21px;
	padding: 10px 20px;
}

/* TESTIMONIALS
-------------------------------------------------- */

.testimonials-area {
	width: 100%;
	margin-top: 50px;
	padding: 35px 0 50px 0;
	color: #181818;
	background: #F2EB80;
}

.testimonial {
	font-size: 18px;
	font-style: italic;
	text-align: center;
}

.testimonial-author {
	font-size: 14px;
	display: block;
	text-align: right;
}

.testimonials-area .flexslider {

}

/* PORTFOLIO
-------------------------------------------------- */

.portfolio-area {
	padding-top: 40px;
}

#gallery-container ul {
	padding: 0;
}

/* CONTACT
-------------------------------------------------- */

.contact-area {
	padding-top: 40px;
}

.contact-form {
	margin-top: 20px;
}
.contact-input-field {
	margin-bottom: 25px;
}

.required-note {
	font-size: 14px;
	text-align: center;
	vertical-align: center;
	margin-bottom: 20px;
}

.send-btn {
	text-align: center;
}

.send-btn input {
	max-width: 70%;
	min-width: 200px;
	width: 100%;
	font-size: 24px;
	margin-bottom: 40px;
} 

.contact-form input, 
.contact-form textarea {
    padding-right:30px;
}

.contact-form input:required, 
.contact-form textarea:required {
    background: #fff url(../images/red_asterisk.png) no-repeat 98% center;
}

.contact-form input:focus:invalid, 
.contact-form textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(../images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.contact-form input:required:valid, 
.contact-form textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(../images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

/* FOOTER
-------------------------------------------------- */

.footer-area {
	width: 100%;
	background: #004563;
}

.footer-area h1{
	color: #FFF;
	padding-top: 20px;
}

.company-social {
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
}

.company-social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #004563;
	color: #FFF;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	margin: 5px 10px;
}

.company-social a:hover {
	background-color: #F2EB80;
	color: #592202;
	text-decoration: none;
}

.copywrights {
	text-align: center;
	font-size: 12px;
	color: #FFF;
	margin: 0;
	padding: 0;
}

/* BOOTSTRAP STYLE
-------------------------------------------------- */

.navbar {
	border-radius: 0px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1199px) {

	.home-title {
		font-size: 60px;
		margin: 7.5% auto 100px;
	}
	
	.home-area .flexslider h2 {
		font-size: 30px;
	}

}

@media only screen and (max-width: 767px) {
	
	.home-area {
		height: auto;
	}
	
	.portfolio-area #gallery-container .item {
		width: 18%;
	}

}

@media only screen and (max-width: 479px) {

	.home-title {
		font-size: 32px;
	}
	
	.home-area .flexslider h2 {
		font-size: 20px;
	}
	
	.portfolio-area #gallery-container .item {
		width: 23%;
	}

}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.leftalign {
	float: left;
}

.rightalign {
	float: right;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}